.main {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  justify-content: center;
  background-color: #252525;
  height: 100vh;
  width: 100vw;
}

.title1 {
  line-height: 1.15;
  font-size: 4rem;
  color: white;
}
.title2 {
  line-height: 1.15;
  font-size: 2rem;
  color: white;
}

.title3 {
  line-height: 1.15;
  font-size: 1rem;
  color: white;
  padding: 2%;
}

.title4 {
  line-height: 1.15;
  font-size: 1rem;
  color: grey;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding: 2%;
  font-weight: normal;
}

.leftContent {
  grid-row-start: 1;
  grid-row-end: -1;
  grid-column-start: 1;
  grid-column-end: 3;
  background-image: url("../public/cover.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.centerContent {
  grid-row-start: 1;
  grid-row-end: -1;
  grid-column-start: 3;
  grid-column-end: 7;
  background-size: cover;
  border-right: solid 1px #e19067;
  background-color: #252525;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
}

.rightContent {
  grid-row-start: 1;
  grid-row-end: -1;
  grid-column-start: 7;
  grid-column-end: -1;
  background-color: #252525;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
}

.hashtagContainer {
  background-color: #312e32;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 5%;
}
.hashtagBlock {
  border-bottom: solid 1px;
  padding-top: 2%;
  padding-bottom: 2%;
}

.buttonLogout {
  width: 40%;
  height: 30px;
  border-radius: 20px 20px 20px 20px;
  color: #252525;
  background-color: #e19067;
  transition-duration: 0.4s;
  border: none;
}

.buttonLogout:hover {
  background-color: #252525;
  color: #e19067;
  cursor: pointer;
}

.mainFeed {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.buttonTweet {
  height: 30px;
  border-radius: 20px 20px 20px 20px;
  color: #252525;
  background-color: #e19067;
  transition-duration: 0.4s;
  border: none;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 2%;
}

.buttonTweet:hover {
  background-color: #252525;
  color: #e19067;
  cursor: pointer;
}

.inputTweet {
  height: 50px;
  margin-bottom: 10px;
  width: 100%;
}

.span {
  color: white;
}

.infoTweetContainer {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 5%;
  border-bottom: solid 1px #e19067;
}

.tweetContainer {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 80%;
}

.tweetAuthor {
  display: flex;
}

.tweetBlock {
  padding: 5%;
  background-color: #312e32;
  margin-bottom: 2.5%;
  margin-top: 2.5%;
  border-radius: 20px;
}

/* .photoContainer {
  border-radius: 50%;
} */
.roundImage {
  border-radius: 50%; /* Rend la bordure de l'image ronde */
}

.tweet {
  color: white;
}

.tweetRedaction {
  height: 20%;
}
