.main {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  justify-content: center;
  border: 1px #e94653 solid;
  height: 100vh;
}

.title1 {
  line-height: 1.15;
  font-size: 4rem;
  color: white;
}
.title2 {
  line-height: 1.15;
  font-size: 2rem;
  color: white;
}

.title3 {
  line-height: 1.15;
  font-size: 1rem;
  color: white;
}

.leftContent {
  grid-row-start: 1;
  grid-row-end: -1;
  grid-column-start: 1;
  grid-column-end: 4;
  border: 1px #e94653 solid;
  background-image: url("../public/cover.jpg");
  background-size: cover;
}

.rightContent {
  grid-row-start: 1;
  grid-row-end: -1;
  grid-column-start: 4;
  grid-column-end: -1;
  border: 1px #e94653 solid;
  background-color: #252525;
  display: flex;
}

.rightContentB {
  border: 1px #e94653 solid;
  background-color: #252525;
  width: 50%;
}
.rightContentA {
  border: 1px #e94653 solid;
  width: 50%;
}
